<footer >
    <div class="footer-home">
        <div>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div>

            <a href="#"><i class="fab fa-whatsapp"></i></a>

        </div>
        <div>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
        </div>
    </div>

</footer>