<footer>
    <div class="footer-contacts">
        <div>
            <!-- <img class="bd-placeholder-img card-img-top" src="img/logo.png" width="100%" alt="logo"> -->
            <div class="test-img">
                <img class="fondo-footer" src="img/fondofooter.jpg" alt="fondo">
            </div>
            

            <ul class = "social-network">
                <strong class="contact-title-footer">Contacto</strong>
                <li>
                    <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i> Facebook</a>
                </li>
                <li>
                    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i> Instagram</a>
                </li>
                <li>
                    <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i> WhatsApp</a>
                </li>
            </ul>
            <div class="footer-copyright">
                <ul class="copyright">
                    <li>Copyright © 2021 LuanaCake</li>
                </ul>
            </div>
        </div>
        </div>
</footer>
