<footer class="footer">
    <div class="footer-body">
        <ul>
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-whatsapp"></i></li>
        </ul>
    </div>
</footer>