<header class="navbar">
    <div class="navbar-mobile">
        <i class="fas fa-user-alt icon-user"></i>
        <img src="img/LogoBenidiaCook-circle-11.png" alt="logo">
        <i class="fas fa-bars icon-hamburger"></i>
    </div>
    <div class="navbar-destock">
        <img src="img/LogoBenidiaCook-circle-11.png" alt="logo">
        <nav class="navbar-list">
            <ul>
                <li>HOME</li>
                <li>PRODUCTOS</li>
                <li>PEDIDO</li>
            </ul>
        </nav>
        <i class="fas fa-user-alt icon-user"></i>
    </div>
</header>