<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,300;0,400;0,600;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Creacion Producto</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <h2>Agregar Producto</h2>
    <form action="" method="post">
        <p>
            <label for="categoria" class="categoria_crearproducto">Categoria
            <span class="obligatorio">*</span>
            <input type="text" name="intruducir_categoria" id="categoria" required="obligatorio" placeholder="Ingresa la Categoria">
            </label>
        </p>
        <p>
            <label for="precio" class="precio_crearproducto">Precio
            <span class="obligatorio">*</span>
            <input type="number" name="intruducir_precio" id="precio" required="obligatorio" placeholder="Ingresa la Precio">
            </label>
        </p>
        <p>
            <label for="Imagen" class="imagen_crearproducto">Imagen
            <span class="obligatorio">*</span>
            <input type="file" name="intruducir_imagen" id="imagen" required="obligatorio" placeholder="Ingresa Imagen del Producto">
            </label>
        </p>
        <input type="submit" name="enviar_producto_nuevo" id="enviar_producto" value="Subir Producto">
    </form>
    <%- include('partials/footer.ejs') %>
</body>


