<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home Luana</title>
</head>
<body>

    <!--************************* HEADER *********************************************-->
    <header>
        <div class="nav-acount-uno-home">
        <nav>
            <ul>
                <li class="nav-acount-home"><a href="#">Crear Cuenta</a></li>
                <li class="nav-acount-home"><a href="#">Iniciar Sesión</a></li>
                <li class="nav-acount-home"><a href="#">Cerrar Sesión</a></li>
            </ul>
        </nav>
        </div>

        
        <div class="nav-menu-home">
            <div class="contenedor-logo-menu-home">
            <img  class="logo-menu-home" src="img/LogoBenidiaCook-circle-11.png" alt="logo" height="40px" >
            </div>
        <nav>
            <ul>
                <li class="nav-main-header-home"><a href="#">TEXT0 1</a></li>
                <li class="nav-main-header-home"><a href="#">TEXT0 2</a></li>
                <li class="nav-main-header-home"><a href="#">TEXT0 3</a></li>
                <li class="nav-main-header-home"><a href="#">TEXT0 4</a></li>
                <li class="nav-main-header-home"><a href="#">TEXT0 5</a></li>
                <li class="nav-main-header-home"><a href="#">TEXT0 6</a></li>
            </ul>
        </nav>
        <div class="barraDeBusqueda-home">
            <input type="search" placeholder="Buscar producto"><i class="fas fa-search-home"></i>
        </div>

        <div class="shopping-cart"> 
        <i class="fas fa-shopping-cart"></i>
        </div>
        
        </div>
        <div class="hamburgesaHeader">
            <i class="fas fa-bars"></i>
            <div>

    </header>

 <!--************************* MAIN *********************************************-->

    <main>

        <div class="carruselImagenes-home"> 
        <img  class="carrusel-home" src="img/Navidad/Benidia Navideño-22.jpeg" alt="carrusel">
        </di>

        <div class="destacadas">
            <article class="destacado">
            <img  class="carrusel-home" src="img/Bombas/choco.jpg" alt="ChocoOreo">
            </article>
            <article class="destacado">
            <img  class="carrusel-home" src="img/Brownies/Benidia0.jpg" alt="Brownie">
            </article>
            <article class="destacado">
            <img  class="carrusel-home" src="img/Box`s/diadelamadre.jpg" alt="CajaDiaMadre">
            </article>
        </div>

        <div class="productosVarios">
            <article class="productoVario">
            <img  class="varios-home" src="img/Bombas/1.jpg" alt="ChocoOreo">
            </article>
            <article class="productoVario">
            <img  class="varios-home" src="img/Bombas/1.jpg" alt="ChocoOreo">
            </article>
 
        </div>

        <h2> VER TODO LOS PRODUCTOS</h2>
        <div class="mapa-home">
            <p>MAPA</p>
        </div>
        <div class="formulario-home">
            
            <form>       
                <p>
                  <label for="nombre" class="nombre-formulario-home">Nombre
                    <span class="obligatorio"></span>
                  </label>
                    <input type="text" name="introducir-nombre" id="nombre-form-home" required="obligatorio" placeholder="Escribi tu nombre">
                </p>

                <p>
                  <label for="email" class="email-formulario-home">Email
                    <span class="obligatorio"></span>
                  </label>
                    <input type="email" name="introducir-email" id="correo-form-home" placeholder="Escribe tu Correo Electrónico">
                </p>    
              
                <p>
                  <label for="comentarios" class="comentarios-formulario-home">Comentarios
                    
                  </label>
                    <input type="text" name="introducir-comentario" id="comentario-form-home" placeholder="Escribe tu Comentario">
                </p>    
               
                <button type="submit" name="enviar-comentario" id="enviar-comentario-home"><p>Enviar</p></button>

                <p class="aviso-formulario-home">
                  <span class="obligatorio"> * </span>Todos los campos son obligatorios.
                </p>          
          </form>
        </div>
    </main>

    <!--*************************FOOTER*********************************************-->
    <footer>
        <div>
            <nav>
                <ul>
                    <li class="linksVarios-home"><a href="#">TEXT0</a></li>
                    <li class="linksVarios-home"><a href="#">TEXT1</a></li>
                    <li class="linksVarios-home"><a href="#">TEXT1</a></li>
                    <li class="linksVarios-home"><a href="#">TEXT1</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <ul>
                <li class="socialMedia-home"><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="socialMedia-home"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                <li class="socialMedia-home"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            </ul>
        </div>
        <div>
            <nav>
                <ul>
                    <li class="linksVarios2-home"><a href="#">TEXT0</a></li>
                    <li class="linksVarios2-home"><a href="#">TEXT1</a></li>
                    <li class="linksVarios2-home"><a href="#">TEXT1</a></li>
                    <li class="linksVarios2-home"><a href="#">TEXT1</a></li>
                </ul>
            </nav>
        </div>
    </footer>
    
</body>
</html>