<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Luana Cake</title>
</head>
<body>
    

  
    <header class='header-luana'>
        <div class="cuadro-menu" id="cuadro-menu">
          <div class="logo">
            <img  class="logo-menu" src="img/LogoBenidiaCook-circle-11.png" alt="logo" height="40px" >  
        </div>
 
 
 
 
      <div class="navbar-hamburger">
        <i class="fas fa-bars"></i>
  </div>
               
            <nav class="menu" id="menu">

             <a class="botonesmenu" id="btn-home" href="/">Home</a>
             <a class="botonesmenu" id="btn-productos" href="#">Productos</a>
             <a class="botonesmenu" id="btn-contactos" href="#">Contactos</a> 

            </nav> 
                  
         </div>        
    
     </header>
             
  
     <section class="iniciar">
         <button class="redes">Iniciar con GOOGLE</button>
         <button class="redes">Iniciar con FACEBOOK</button>
     </section>

  

  
    <div class="contact_form">
        <div class="formulario">      
      
              <form action="" method="post">       
                    <p>
                      <label for="nombre" class="colocar_nombre">Nombre de Usuario 
                        <span class="obligatorio">*</span>
                        <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu Usuario">
                        
                      </label>
                        
                    </p>

                    <p>
                      <label for="contraseña" class="colocar_contraseña">Contraseña
                        <span class="obligatorio">*</span>
                        <input type="password" name="introducir_contraseña" id="contraseña" required="obligatorio" placeholder="Escribe una c
                      </label>
                        
                    </p>
                  
                            
                    <input type="submit" name="enviar_formulario" id="enviar" value="Registrar">
                   
              
    
                    <p class="aviso">
                      <span class="obligatorio"> * </span>los campos son obligatorios.
                    </p>          
                    
                    <input type="submit" name="Ingresar_usuario" id="enviar" value="Ingresar">
              </form>
        </div>  
      </div>


    
 
</body>
</html>



































































































