<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Document</title>
</head>

<body>
    <header>
        <img src="" alt="Logo">
        <nav>
            <ul>
                <li>Home</li>
                <li>Registrarte</li>
                <li>Iniciar sesion</li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h1>DETALLE DEL PRODUCTO</h1>
                <h2>Categoria -> Subcategoria</h2>
                <img src="" alt="Foto 1 del producto">
            </div>
            <div>
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, maiores. Quaerat quia debitis deleniti voluptas culpa corporis saepe rerum voluptates accusantium in perspiciatis nemo, sed, porro facere! Numquam, aliquid adipisci!</p>
                <p>Precio</p>
                <p>Variante del producto</p>
                <select name="" id="">
                    <option value="">Chocolate</option>
                    <option value="">Frutilla</option>
                    <option value="">Vainilla</option>
                </select>
                <p>Cantidad</p>
                <input type="text">
                <button>Agregar al carro</button>
            </div>
        </section>
        <hr>
        <section>
            <h2>PRODUCTOS SIMILARES</h2>
            <article>
                <img src="" alt="Foto 1">
                <p>Articulo 1</p>
            </article>
            <article>
                <img src="" alt="Foto 2">
                <p>Articulo 2</p>
            </article>
            <article>
                <img src="" alt="Foto 3">
                <p>Articulo 3</p>
            </article>
            <article>
                <img src="" alt="Foto 4">
                <p>Articulo 4</p>
            </article>
        </section>
    </main>
    <footer></footer>
</body>

</html>