<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  

     <!--  ehh bueno por alguna razon que no comprendo no se ve bien está mierda , help  -->
    <%- include('partials/navbar.ejs') %>


    <main>
        <h2 class="carro">CARRITO DE COMPRAS</h2>        
        <ul class="carro-nav">
            <p class="carro-nav__item">PRECIO</p>
            <p class="carro-nav__item">CANTIDAD</p>
            <p class="carro-nav__item">TOTAL</p>
        </ul>
        <hr/>
        <div class="producto">
            <img class="imagen_producto" src="img/Desayunos/desayuno1.jpg" alt="Desayuno">
            <p class="caja">$650</p>
            <p class="caja">2</p>
            <p class="caja">$1.300</p>
        </div>     
        <div class="producto">
            <img class="imagen_producto" src="img/Desayunos/desayuno2.jpg" alt="Desayuno">
            <p class="caja">$650</p>
            <p class="caja">2</p>
            <p class="caja">$1.300</p>
        </div> 
        <div class="producto">
            <img class="imagen_producto" src="img/Desayunos/desayuno3.jpg" alt="Desayuno">
            <p class="caja">$650</p>
            <p class="caja">2</p>
            <p class="caja">$1.300</p>
        </div> 
        <hr/>
        <p class="subtotal">Subtotal: $3.900</p>
    </main>



       <!--*************************FOOTER*********************************************-->
         <!--  ehh bueno por alguna razon que no comprendo no se ve bien está mierda , help  -->
       <%- include('partials/footer.ejs') %>
    
</body>
</html>