<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/luana.css">
    <title>Document</title>
</head>
<body>
    

    <!-- Formulario de contacto LUANA -->
    <header>
        <div class="cuadro-menu" id="cuadro-menu">
          <div class="logo">
            <img  class="logo-menu" src="img/LogoBenidiaCook-circle-11.png" alt="logo" height="40px" >  
        </div>
         
               <!--Botones del menu-->
            <nav class="menu" id="menu">
        
                <a class="botonesmenu" id="btn-home" href="product-details.html">Home</a>
                <a class="botonesmenu" id="btn-productos" href="#">Productos</a>
                <a class="botonesmenu" id="btn-productos" href="#">Contactanos</a>
            </nav> 
                  
         </div>        
    
     </header>
             

     <section class="iniciar">
         <button class="redes">Iniciar con GOOGLE</button>
         <button class="redes">Iniciar con FACEBOOK</button>
     </section>


    <div class="contact_form">
        <div class="formulario">      
       
              <form>       
                    <p>
                      <label for="nombre" class="colocar_nombre">Nombre
                        <span class="obligatorio">*</span>
                      </label>
                        <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
                    </p>
                  
                    <p>
                      <label for="apellido" class="colocar_apellido">Apellido
                        <span class="obligatorio">*</span>
                      </label>
                        <input type="text" name="introducir_apellido" id="apellido" required="obligatorio" placeholder="Escribe tu apellido">
                    </p>
                
                    <p>
                      <label for="email" class="colocar_email">Email
                        <span class="obligatorio">*</span>
                      </label>
                        <input type="email" name="introducir_email" id="correo" placeholder="Escribe tu email">
                    </p>    
                  
                    <p>
                      <label for="celular" class="colocar_celular">Celular
                        
                      </label>
                        <input type="number" name="introducir_celular" id="celular" placeholder="Escribe tu celular">
                    </p>    
                  
                    <p>
                      <label for="direccion" class="colocar_direccion">Direccion
                        <span class="obligatorio">*</span>
                      </label>
                        <input type="text" name="introducir_direccion" id="assunto" required="obligatorio" placeholder="Escribe tu direccion">
                    </p>    

                    <p>
                      <label for="nombre" class="colocar_contraseña">Contraseña
                        <span class="obligatorio">*</span>
                      </label>
                        <input type="text" name="introducir_contraseña" id="nombre" required="obligatorio" placeholder="Escribe una contraseña">
                    </p>
                  
                            
                  
                    <button type="submit" name="enviar_formulario" id="enviar"><p>Registrar</p></button>
    
                    <p class="aviso">
                      <span class="obligatorio"> * </span>los campos son obligatorios.
                    </p>          
                
              </form>
        </div>  
      </div>


</body>
</html>


  
 

 


