<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Glory:wght@100;200;400&display=swap" rel="stylesheet">
    <title>Luana Cake</title>
</head>
<body>
    

  <!-- Header -->
  <%- include('partials/navbar.ejs') %>
  
  <!-- /Header -->
  <!-- Botones -->
     <section class="iniciar">
         <button class="redes">Iniciar con GOOGLE</button>
         <button class="redes">Iniciar con FACEBOOK</button>
     </section>

  <!-- /Botones -->

  <!-- Formulario de registro  -->
    <div class="contact_form">
        <div class="formulario">      
      
              <form action="" method="post">       
                    <p>
                      <label for="nombre" class="colocar_nombre">Nombre
                        <span class="obligatorio">*</span>
                        <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
                        
                      </label>
                        
                    </p>
               
                    <p>
                      <label for="apellido" class="colocar_apellido">Apellido
                        <span class="obligatorio">*</span>
                        <input type="text" name="introducir_apellido" id="apellido" required="obligatorio" placeholder="Escribe tu apellido">
                      </label>
                      
                    </p>
                
                    <p>
                      <label for="correo" class="colocar_email">Email
                        <span class="obligatorio">*</span>
                        <input type="email" name="introducir_email" id="correo" placeholder="Escribe tu email">
                      </label>
                        
                    </p>    
                  
                    <p>
                      <label for="celular" class="colocar_celular">Celular
                        <input type="text" name="introducir_celular" id="celular" placeholder="Escribe tu celular">
                      </label>
                       
                    </p>    
                  
                    <p>
                      <label for="direccion" class="colocar_direccion">Direccion
                        <span class="obligatorio">*</span>
                        <input type="text" name="introducir_direccion" id="direccion" required="obligatorio" placeholder="Escribe tu direccion">
                      </label>
                      
                    </p>    

                    <p>
                      <label for="contraseña" class="colocar_contraseña">Contraseña
                        <span class="obligatorio">*</span>
                        <input type="password" name="introducir_contraseña" id="contraseña" required="obligatorio" placeholder="Escribe una contraseña">
                      </label>
                        
                    </p>
                  
                            
                    <input type="submit" name="enviar_formulario" id="enviar" value="Registrar">
                    <!-- <button type="submit" name="enviar_formulario" id="enviar"><p>Registrar</p></button> -->
              
    
                    <p class="aviso">
                      <span class="obligatorio"> * </span>los campos son obligatorios.
                    </p>          
                
              </form>
        </div>  
      </div>


    <!-- /Formulario de registro  -->
    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
 
</body>
</html>


  
 

 


