
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%; 
    font-family: sans-serif;
    
  }


/*Inicio HOME HEADER*/

.header{
    display: flex;
    flex-wrap: wrap;

}
.nav-acount-uno-home{
    background-color: salmon;
    width: 100%;
    display: none;
    
}

.nav-acount-uno-home nav ul{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    
}  

.nav-acount-home{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
   
}


.nav-acount-home a{
    text-decoration: none;
}


.nav-menu-home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: sandybrown;
    height: auto;
    width: auto;
    display: none;
}

.logo-menu-home{
        display: block;
        margin: 0 auto;
        width: 220px;
        height: auto;
        display: none;
    }


.nav-menu-home nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.nav-menu-home nav ul li{
   margin: 20px;
   
}

.nav-main-header-home a{
    text-decoration: none; 
}


.barraDeBusqueda-home{
    margin-left: 20%;
    
    
}


.home-360-header{
    display: flex;
    justify-content: space-between;
    background-color: salmon;
    margin-bottom: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo-home-360-home{
    display: block;
    margin: 0 auto;
    width: auto;
    height: 60px;
}

.hamburgesaHeader {
    text-align:  center;
    
}

.hamburgesaHeader i{
    background-color:black;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 20px 20px 0px;
    padding: 10px;
}


/*Fin HOME HEADER*/

/*Inicio HOME MAIN*/

 main{
    margin: 0 auto;
    width: 90%;
}

.carruselImagenes-home{
    border: brown 5Px solid;
    margin-bottom: 20px;
    margin-top: 100px;
}

.carrusel-home{
    width: 100%;
    
}

.destacadas{
    border: blue 5Px solid;
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.destacada{
  
    width: 80%;
   
}

.productosVarios{
    border: green 5Px solid;
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.varios-home{
    
    width: 80%;
   
}



.mapa-home{
    background-color: green;
    width: 100%;
    height:400px ;
    margin-bottom: 20px;
}

.mapa-home p{
    text-align: center;
    font-size: 40px;
}

.caja-formulario-home{
    background-color:rgb(218, 120, 120);
    border: solid 2px black;
    border-radius:4px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
}

.caja-formulario-home h2{
    text-align: center;
    font-style: italic;
    margin-bottom: 5px;
}

.caja-formulario-home label{
 
   font-style: oblique;
   font-weight: bold;
}

.caja-formulario-home input{
    border-radius: 5px;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.caja-formulario-home textarea{
    margin-top: 5px;
    height: 6em;
    width: 95%;
    border-radius: 5px;
}

.caja-formulario-home button{
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Fin HOME MAIN*/

/* INICIO HOME Footer */
.footer-home{
    padding: 20px;
    background-color: #C4CAD0;
    display: flex;
    justify-content: space-between;
}

.footer-home ul{
    list-style-type: none;
}

.footer-home a{
    text-decoration: none;
}

.cajaSocialMedia-home{
    
    display: flex;
    flex-wrap: wrap;
}

.socialMedia-home {

    display: inline;
    font-size: 30px;

}


/* FIN HOME Footer */

/*
Paleta de colores
Indigo #8F6593
Gris claro #C4CAD0
Gris oscuro #272D2D
Verde claro #60992D
Verde oscuro #169873
*/

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%; 
    font-family: sans-serif;
    
  }
.header-luana {
    width: 100%;
    height: 50px;
    background:rgba(116, 21, 76, 0.8);
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}



nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 8px 15px;
    text-align: center;
}

.nav {
    background-color: #8F6593;
}

.nav-link {
    margin: 8px;
}

.nav-link>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #C4CAD0;
    font-weight: 700;
}

.product>h1 {
    text-align: center;
    color: #272D2D;
    margin-bottom: 0px;
    font-size: 1.5rem;
}

.product>h2 {
    text-align: center;
    color: #C4CAD0;
    margin-top: 0px;
    font-size: 16px;
}

.product>img {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: auto;
}

.productDetails>h2 {
    text-align: center;
    color: #272D2D;
    margin-bottom: 0px;
    font-size: 1.5rem;
}

.productDetails>p {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 1rem;
    text-align: justify;
}

.form {
    padding: 10px;
}

.form>p {
    margin: 10px 0px;
}

.form>select {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #C4CAD0;
}

.form>button {
    margin-top: 10px;
    width: 100%;
    background-color: #169873;
    color: #f1f1f1;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    text-transform: uppercase;
    border-radius: 8px;
}

.price {
    text-transform: uppercase;
}

p.price>span {
    color: #60992D;
    font-weight: 700;
}

.contenedor{
	overflow: hidden; 
    width: 100%;
    margin: auto;
}

	

	/*Menu*/
  .header-luana .navbar-hamburger {
      padding: 10px 0px;
      text-align: center;
      font-size: 25px;
}

  .header-luana .menu{
		position: static;
		width: auto;
		height: auto;
		float: right;
		display: flex;
		padding: 10px 50px;
		text-align: right;
	}

	.header-luana .menu a {
    border: none;
    padding-bottom:  10px;
    margin: 0 20px;
    text-decoration: none;
    color: white;
    display: none;
    font-size:1em;
    position: relative;
    top: 0px;
    font-weight:400;
  }

  .header-luana .menu .botonesmenu:hover{
    color: rgb(255, 249, 249);
    font-size: 1.2em;
  }




 .header-luana .cuadro-menu .logo-menu {
    display: inline-block;
	position: fixed;
    z-index: 1000;
	margin: 6px 10px;
	
}

/* / Menu */

/* Botones */
.iniciar{
    overflow: hidden; 
    width: 100%;
    margin: auto;
    padding-top: 15%;
    text-align: center;
}

.redes {
    height: 45px; 
    padding-left: 5px; 
     padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-align: center;
    text-transform: uppercase;
    background-color:rgba(116, 21, 76, 0.8);
    border-color:rgba(116, 21, 76, 0.8);
    border-style: solid; 
    border-radius: 10px;  
    width: 70%;   
    cursor: pointer;
    color: #fff;

  }

  /* /Botones */
  
/* Formulario */
.contact_form{  
  width: 300px; 
  height: auto;
  margin: 0px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  /* padding-left: 30px;  */
}


input{
  background-color: #fbfbfb; 
  width: 300px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 300px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


#enviar {
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4493; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 300px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ab4493;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}


/* /Formulario */


 

