* {
  font-family: 'Glory', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}
body{
    height: 100%; 
    font-family: sans-serif;
    background-color: #fbfcff;
    
  }
.header-luana {
    width: 100%;
    height: 50px;
    background:#e9748b;
    opacity: 0.9;
    color:#fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor{
	overflow: hidden; 
    width: 100%;
    margin: auto;
}

	

	/*Menu*/
  .header-luana .navbar-hamburger {
      padding: 10px 0px;
      text-align: center;
      font-size: 25px;
}

  .header-luana .menu{
		position: static;
		width: auto;
		height: auto;
		float: right;
		display: flex;
		padding: 10px 50px;
		text-align: right;
	}

	.header-luana .menu a {
    border: none;
    padding-bottom:  10px;
    margin: 0 20px;
    text-decoration: none;
    color: #080708;
    display: none;
    font-size:1em;
    position: relative;
    top: 0px;
    font-weight:400;
  }

  .header-luana .menu .botonesmenu:hover{
    color: rgb(255, 249, 249);
    font-size: 1.2em;
  }




 .header-luana .cuadro-menu .logo-menu {
    display: inline-block;
	position: fixed;
    z-index: 1000;
	margin: 6px 10px;
	
}

/* / Menu */

/* Botones */
.iniciar{
    overflow: hidden; 
    width: 100%;
    margin: auto;
    padding-top: 15%;
    text-align: center;
}

.redes {
    height: 45px; 
    padding-left: 5px; 
     padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-align: center;
    text-transform: uppercase;
    background-color:#e9748b;
    border-color:#c76277;
    border-style: solid; 
    border-radius: 10px;  
    width: 70%;   
    cursor: pointer;
    color: #080708;

  }

  /* /Botones */
  
/* Formulario */
.contact_form{  
  width: 300px; 
  height: auto;
  margin: 0px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  /* padding-left: 30px;  */
}


input{
  background-color: #fbfbfb; 
  width: 300px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #e9748b;
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 300px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #e9748b;
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


#enviar {
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #e9748b;
  border-color: #e9748b;
  border-style: solid; 
  border-radius: 10px;  
  width: 300px;   
  cursor: pointer;
}


button p{
  color:#080708;
}


span{
  color: #e9748b;
}


.aviso{
  font-size: 13px;  
  color:#080708; 
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #080708;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #080708; 
}


p{
  font-size: 14px; 
  color: #080708;
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}


/* /Formulario */

/* Footer */
.footer-luana {
  padding: 0px 10px;
  display: contents;
  background-color: #7F636E;
  height: 100%;
}

.footer-body-luana {
  background-color: #7F636E;
  color: #080708;
  padding:10px;
}

.footer-body-luana ul{
  display: flex;
  justify-content: center;
  background-color: #7F636E;
  
}

.footer-body-luana ul li{
  padding: 0px 5px;
  list-style: none;
  font-size: 40px;
  margin: 5px;
}