* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}



/* Pagina create */
  .card-body {
     margin-top: 80px;
  }

  .galleta img{
    height: 140px;
    display:block;
    margin:auto;
  }
/* Fin pagina create */













/* 
body {
   background-color: #FBFCFF;
} */


/* Menu */
/*Inicio HOME HEADER*/

/* .header {
  width: 100%;
}

nav {
  display: none;
}

.header .contenedor-header {
  background-color: #e9748b;
  display: flex;
  justify-content: space-between;

}

.header .contenedor-header .iniciar-secion-360-home {
  align-self: center;
  margin: 10px;
}

.header .contenedor-header .icono-menu {
  align-self: center;
  margin: 10px;
}


.header .contenedor-header .logo img {
  height: 6vh;
} */
.navbar{
  background-color: #f5f5f5 !important;
}

.col{
  background-color: #f5f5f5 !important;
}

/*/Menu */
.main, .album{
  /* background-color: #e5dde6 !important; */
}


/* Tortas */
.tortas {
  height: 100%;
  padding: 10px;
  padding-top:90px;
  /* background-color: #e8e9eb !important; */
}

.tortas h2 {
  color: #080708;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  padding: 2px;
}

.contenedor-tortas {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.tortas .product {
  min-width: 35vw;
  height: 100%;
  background: whitesmoke;
  margin: 0 20px 0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;
}



.tortas .product picture {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  margin: auto;
}

.tortas .product picture img {
  width: 100%;
}

/* /Tortas */


/* Imagenes de productos  */
/* .col{
  max-width: 200px;
} */
.bd-placeholder-img {
  width:100%;
}

/* Titulo productos */
.jumbotron-heading{
  text-align: center;
}


.allProducts{
  padding: 10px;
 margin: auto;
 text-align: center;
}


.todosProductos{
  text-align: center;
  text-decoration: none;
  color: rgb(109, 106, 106);
  font-size: 25px;
}

.mapa{
  margin-top: 25px;
}

.ubicacion-titulo{
   text-align: left;
   padding: auto;
   color: rgb(34, 34, 34);
   font-size: 35px;
}


.formulario{
  margin: 20px;
}


.formulario .formulario-titulo{
   text-align: center;
   margin: auto;
   font-size: 30px;
   color: rgb(58, 57, 57);
}
/* destacados */
/* .destacados {
  background-color: #e8e9eb;
  width: 100%;
  padding: 15px;

}

.destacados h2 {
  color: #080708;
  font-weight: 300;
  font-size: 35px;
  padding: 15px;
  text-align: center;
}

.destacados .contenedor-destacados {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 1100px;
  position: relative;

}

.destacados .contenedor-destacados .article {
  width: 70%;
  margin: 10px;
  max-width: 300px;
  background-color: #ffffff;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.destacados .contenedor-destacados .article p {
  text-align: center;
  margin: 10px;
  font-size: 20px;
  color: #080708;
  font-weight: bold;
}

.destacados .contenedor-destacados article img {
  border-radius: 15%;
}

.productos-todos {
  margin: 10px;
}

.productos-todos a {
  text-decoration: none;
}

.productos-todos h3 {
  text-align: center;
  margin: 10px;
  font-size: 20px;
  color: #080708;
  font-weight: bold;
} */

/* /destacados */


/* Mapa */
/* .mapa-titulo {
  color: #080708;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  margin: 15px;

}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
} */

/* /Mapa */

/* Formulario */

/* .contact_form { 
   height: 100%; 
   margin: auto; 
position: relative; 

 } 

  .formulario {
  width: 300px;
  padding: 10px 0px;
  border-radius: 10px;
  margin: auto;
  background-color: #fbfbfb;
} 


input {
  background-color: #fbfbfb;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e9748b;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}


textarea {
  background-color: #fbfbfb;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e9748b;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}


label {
  display: block;
  float: center;
}


#enviar-comentario-home {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #e9748b;
  border-color: #e9748b;
  border-style: solid;
  border-radius: 10px;
  width: 300px;
  cursor: pointer;
}


button p {
  color: #080708;
}


span {
  color: #e9748b;
}


.aviso {
  font-size: 13px;
  color: #080708;
}


.formulario-titulo {
  text-align: center;
  margin: 10px;
  color: #080708;
  font-size: 25px;
  padding-bottom: 10px;
}


p {
  font-size: 14px;
  color: #080708;
}


::-webkit-input-placeholder {
  color: #a8a8a8;
}


::-webkit-textarea-placeholder {
  color: #a8a8a8;
}


.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}


.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
} */


 .iniciar {
  overflow: hidden;
  width: 100%;
  margin: auto;
  text-align: center;
}

.redes {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: #e9748b;
  border-color: #c76277;
  border-style: solid;
  border-radius: 10px;
  width: 70%;
  cursor: pointer;
  color: #080708;

}

.icon-user{
  text-align: center;
}

.icon-user i {
  font-size: 40px;
  padding: 15px;
  border-radius: 100%;
  border:tomato 1px solid;
  background-color: #e9748b;
  color: #ffffff;
}  



.footer-home {
  height: 100%;
  padding: 20px;
  background-color: #7F636E;
  display: flex;
  justify-content: space-between;


}

.footer-home ul {
  list-style-type: none;
}

.footer-home a {
  text-decoration: none;
  color: #FBFCFF;
  font-size: 30px;
} */

/* /Footer */



/* Carrito bootstrap  */
.item {
  padding: 10px;
  border-radius: 20px;
  margin-top: 85px;


}

.item-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.item-image {
  height: 300px;
  width: 100%;

}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 15px;
}

.item-details > .item-price {
  margin: 0;
}

/* ? SHOPPING CART */
.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}


/* /Carrito bootstrap  */


/* Detalle del producto */

.detalle-producto{
  padding-bottom: 55px;
  padding-top: 60px;
}


.titulo-detalle{
  text-align: center;
  padding-top: 35px;
  font-size: 35px;
  font-weight: bold;
}
.show-img  {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }



.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }
 
/* Fin detalle del producto */

/* 404 */
.imagen-404{
  display:block;
  margin:auto;
}

.error-h1, .error-h2{
  text-align: center;
  margin: auto;
}
/* /404 */

/* Media queries  */

@media (min-width: 800px) {
  .tortas .product{
    min-width:15vw;
  }

  }


