<!DOCTYPE html>
<html lang="es">

<body>
    <h2>Crear Producto</h2>
    <form action="/products/create" method="POST" enctype="multipart/form-data">
        <P>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" placeholder="Ingresar nombre">
        </P>
        <p>
            <label for="category_id">Categoria</label>
            <select name="category_id" id="">
                <option value="" disabled selected>Seleccione un producto</option>
                <% for (category of categoryProducts){ %>
                <option value="<%= category.id %>"><%= category.name %></option>
                <%  } %>
            </select>
        </p>
        <p>
            <label for="price">Precio</label>
            <input type="number" name="price" placeholder="Ingresa la Precio">
        </p>
        <p>
            <label for="description">Descripción del producto </label>
            <textarea name="description" cols="30" rows="10"  placeholder="Ingresa la descripción"></textarea>
        </p>
        <p>
            <label for="img">Imagen</label>
            <input type="file" name="img">
        </p>
        <button type="submit">Crear producto</button>
    </form>
</body>

</html>