<!DOCTYPE html>
<html lang="en">
<body>
    <h2>Todos los productos</h2>
    <table>
        <tr>
            <th>Price</th>
            <th>Descrip</th>
            <th>Categoria</th>
        </tr>
        <% for (product of products){ %>
        <tr>
            <td><%= product.price %></td>
            <td><%= product.description %></td>
            <td><%= product.category %></td>
        </tr>
        <%  } %>
    </table>
    <p>
        <a href="/products/create">Nuevo producto</a>
    </p>
</body>
</html>