<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,300;0,400;0,600;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Luana</title>
</head>
<body>

    <!--************************* HEADER *********************************************-->
     
    <%- include('../partials/navbar.ejs') %>
 <!--************************* MAIN *********************************************-->

    <main>

     <!-- tortas -->
     <section class="tortas">
        <h2>Nuestras Tortas</h2>
    
          <div class="contenedor-tortas">
              <div class="product">
                <picture>
                  <img src="/img/Navidad/Benidia Navideño-18.jpeg"  alt="">
                </picture>
              </div>
      
              <div class="product">
                <picture>
                  <img src="/img/Navidad/Benidia Navideño-18.jpeg"  alt="">
                </picture>
              </div>
      
              <div class="product">
                <picture>
                  <img src="/img/Navidad/Benidia Navideño-18.jpeg" alt="">
                </picture>
              </div>
      
              <div class="product">
                <picture>
                  <img src="/img/Navidad/Benidia Navideño-18.jpeg" alt="">
                </picture>
              </div>
      
              <div class="product">
                <picture>
                  <img src="/img/Navidad/Benidia Navideño-18.jpeg" alt="">
                </picture>	
              </div>

              <div class="product">
                <picture>
                  <img src="/img/Navidad/Benidia Navideño-18.jpeg" alt="">
                </picture>
              </div>
    
          </div>
      </section>
      <!-- /tortas -->
    
      <!-- Destacados -->
   
      <section class="destacados">
        <h2>Nuestros Destacados</h2>


        <div class="contenedor-destacados">
        <article class="article">
            <img src="/img/Brownies/Benidia0.jpg"  width="100%">
             <div>
                <p>Brownies</p>
              </div>
        </article>


        <article class="article">
          <img src="/img/Clásicos/Clásicos.jpg"  width="100%">
            <div>
              <p>Clasicos</p>
            </div>
        </article>
     

        <article class="article">
          <img src="/img/Desayunos/Desayuno-4.jpg"  width="100%">
            <div>
              <p>Desayunos</p>
            </div>
          </article>

          <article class="article">
            <img src="/img/Bombas/choco.jpg"  width="100%">   
              <div>
                <p>Bombas</p>
              </div>
          </article>
    </div>

    <div class="productos-todos">
        <a href="#"><h3> VER TODOS LOS PRODUCTOS</h3></a>  <!--link  a pagina de todos los productos-->
    </div>
    
    </section>

    <!-- /Destacados -->

    <!--Google map-->
    <h2 class="mapa-titulo">Nuestra Ubicación</h2>
<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
      style="border:0" allowfullscreen></iframe>
  </div>
  
  <!--Google Maps-->
 <!-- Formulario de registro  -->
 <div class="contact_form">
    <div class="formulario">      
  
          <form action="" method="post">    
              
            <h2 class="formulario-titulo">Dejanos tu comentario</h2>
                <p>
                  <label for="nombre" class="colocar_nombre">Nombre
                    <span class="obligatorio">*</span>
                    <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
                    
                  </label>
                    
                </p>
           
                <p>
                  <label for="correo" class="colocar_email">Email
                    <span class="obligatorio">*</span>
                    <input type="email" name="introducir_email" id="correo" placeholder="Escribe tu email">
                  </label>
                    
                </p>    
              
                <p>
                    <label for="comentario">Comentario:</label><br/>
                    <textarea id="comentario" name="texarea">Escribe algo aqui!</textarea><br/>
                </p>
                
                <p> 
                    <button type="submit" name="enviar-comentario" id="enviar-comentario-home">Enviar Comentario</button>
                </p>
               
        
                <p class="aviso">
                  <span class="obligatorio"> * </span>los campos son obligatorios.
                </p>          
            
          </form>
    </div>  
  </div>


<!-- /Formulario de registro  -->

    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- /Footer -->

    
</body>
</html>